.index {
    display: flex;
    justify-content: space-between;
}
.content {
    width: 50%;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
}

.box {
    width: 100%; /* Para ocupar toda a largura do contêiner de cadastro */
    margin-bottom: 20px; /* Espaçamento entre os boxes */
    padding: 20px;
    border-radius: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box h2 {
    margin-top: 0;
}

.box p {
    margin-bottom: 20px;
}

.clickable {
    display: block;
    width: auto;
    padding: 10px;
    text-align: center;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.clickable:hover {
    background-color: #2b2b2b;
}

.image {
    width: 45%;
    margin-top: 20px;
}