.cadastro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.box {
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box h2 {
    margin-top: 0;
}
.box p {
    margin-bottom: 20px;
}
.clickable {
    display: block;
    width: auto;
    padding: 10px;
    text-align: center;
    background-color: #800000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.clickable:hover {
    background-color: #4c0000;
}