.nav-bar {
    display: flex;
    flex-direction: row;
    height: 20%;
    background-color: #B85E5E;
    align-items: center;
    justify-content: space-between;
}

#company-name {
    margin-left: 10px;
    font-size: 35px;
    margin-top: 0.7%;
    margin-right: 15px;
}

#company-logo-nav {
    display: flex;
    flex-direction: row;
}

#logo {
    margin-top: 4px;
    height: 30px;
    width: 50px;
}

#profile-nav {
    display: flex;
    flex-direction: row;
    margin-right: 1%;
}

#profile-picture {
    margin-left: 5px;
    margin-top: 4px;
    height: 30px;
    width: 30px;
    border: solid black 1px;
    border-radius: 80px;
}

#sair {
    margin-left: 0.5%;
}